<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PDF Converter | JOA &amp; Co.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/auth.css" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
    {{!-- Header --}}
    <div class="nav-bar center-xy">
        <a class="title" href="/">JOA &amp; Co.</a>
    </div>

    {{{body}}}

    <footer class="footer container">
        <p><a href="https://joawoyemiandco.com" class="white">JOA &amp; Co.</a> &copy; 2020</p>
        <p class="light">Chartered Accountants.</p>
    </footer>

</body>

</html>