<div class="container">
    {{#if error}}
    <p class="heading error">{{error.message}}</p>
    <p>{{error.details}}</p>
    <div class="container">
        <a href="/">Go Back</a>
    </div>
    {{/if}}
</div>