/* Resets */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #96e4ac4d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  text-transform: none;
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: #2ddf5f;
}

hr {
  margin: 0;
  border: 3px solid #000;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav */
.nav-bar {
  font-family: "DM Serif Display", serif;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: 0px 28px 82px -45px rgba(0, 0, 0, 0.75);
}

.nav-bar .title {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: auto;
  text-decoration: none;
}

.nav-bar .user {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #acacac;
  background-color: #000000;
  box-shadow: 0px 0px 62px -15px rgba(0, 0, 0, 0.75);
}

.nav-bar .user .text {
  color: #ffffff;
  letter-spacing: 1px;
}

/* Colors */
.light {
  color: #acacac;
}

.green {
  color: #2ddf5f;
}

.red {
  color: #f54c4c;
}

/* Body */
.body-container {
  font-family: "Poppins", sans-serif;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 200px;
}

.container {
  margin-top: 14px;
  margin-bottom: 14px;
}

.heading {
  width: 250px;
  font-size: 20px;
}

.user-details {
  text-align: right;
}

input[type="file"] {
  border: none;
  outline: none;
  margin-right: 40px;
}

progress {
  height: 2rem;
  width: 40%;
  /* border-radius: 0; */
}

a.button {
  display: inline-block;
}

.button {
  color: #000;
  font-size: 1rem;
  margin-top: 1.25rem;
  padding: 0.6rem 1.8rem;
  background-color: #2ddf5f;
  border: 3px solid #2ddf5f;
  border-radius: 30px;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: translate(2px);
  transform: translate(2px);
}

.error {
  color: #f54c4c;
}

.footer {
  color: #ffffff;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding: 60px;
  margin-top: auto;
  background: #000000;
  font-family: "DM Serif Display", serif;
}

/* Custom */
.options-container {
  margin-top: 50px;
}

.options {
  opacity: 0.25;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.option {
  margin: 15px;
}

/* Form */
input {
  border: 0;
  font-size: ;
  border-bottom: 2px solid #000;
  outline: none;
  padding: 1rem 1rem 0.5rem 0.45rem;
  transition: border-bottom 0.25s ease-in-out;
  transition-property: border-bottom;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.form-container .form {
  display: block;
}

.form-label {
  font-size: 20px;
}

.form-input {
  font-family: "Poppins", sans-serif;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
}

.form-input.email {
  width: 300px;
}

.form-input.password {
  width: 150px;
}

.auth-container {
}
